.timeline {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

#secondScreen{
	background-image: url(images/2nd.jpg);
	background-attachment: fixed;


}

.li {
	transition: all 200ms ease-in;
}

.timestamp {
	margin-bottom: 20px;
	padding: 0px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 100;
}

.status {
	padding: 0px 40px;
	display: flex;
	justify-content: center;
	border-top: 2px solid #D6DCE0;
	position: relative;
	transition: all 200ms ease-in;
	margin-top: 50px;
	width: 200px;

}
.status h4 {
	margin-top: 45px;
	font-weight: 600;

}

#h{
	font-size: 24px;
	display: flex;
	text-align: top left ;
}
.status:before {
	content: "";
	width: 90px;
	height: 90px;
	background-color: white;
	border-radius: 90px;
	border: 1px solid #ddd;
	position: absolute;
	top: -45px;
	left: 26%;
	transition: all 200ms ease-in;
}

.status:hover{
	color:#E98074;
}

.li.complete .status {
	border-top: 2px solid #E98074;
}
.li.complete .status:before {
	background-color: #E98074;
	border: none;
	transition: all 200ms ease-in;
}
.li.complete .status h4 {
	color: #E98074;
}


html, body {
	font-family: "Titillium Web", sans serif;
	color: #758D96;
	height:70vh;
	background-color: white;
}

.allproj {
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}







.ttap {
	width: 730px;
	height: 730px;
	border: 10px solid #eae7dc;
	margin-left: 25%;
	margin-top: 30px;
	perspective: 700px;
  }

  .cube {
	width: 700px;
	height: 700px;
	border: 5px solid grey;
	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(-350px);
	transition: transform 1.8s;
  }

  .home  { transform: translateZ(-350px) rotateY(   0deg); }
  .wa { transform: translateZ(-350px) rotateY( -90deg); }
  .og   { transform: translateZ(-350px) rotateY(-180deg); }
  .os   { transform: translateZ(-350px) rotateY(  90deg); }
  .cc{ transform: translateZ(-350px) rotateX( -90deg); }
  .dl{ transform: translateZ(-350px) rotateX(  90deg); }

  .face {
	 position: absolute;
	width: 700px;
	height: 700px;
	border: 5px gradient solid grey;
	line-height: 700px;
	font-size: 35px;



  }
#test
{
	background-color: black;
	height: 100px;
	width: 200px;
}

  .home{
	background-image: radial-gradient(rgba(233,128,116,0.7),grey);
}
.wa{
	background-image : radial-gradient(rgba(233,128,116,0.7),grey);
}
.og{
	background-image: radial-gradient(rgba(233,128,116,0.7),grey);
}
.os{
	background-image: radial-gradient(rgba(233,128,116,0.7),grey);
}
.cc{
	background-image: radial-gradient(rgba(233,128,116,.0.7),grey);
}
.dl{
	background-image: radial-gradient(rgba(233,128,116,0.7),grey);
}

.home { transform: rotateY(  0deg) translateZ(350px); }
.wa { transform: rotateY( 90deg) translateZ(350px); }
.og{ transform: rotateY(180deg) translateZ(350px); }
.os { transform: rotateY(-90deg) translateZ(350px); }
.cc    { transform: rotateX( 90deg) translateZ(350px); }
.dl { transform: rotateX(-90deg) translateZ(350px); }

#aboutus{

	/*background-image: linear-gradient(white,white,white,#eae7dc)*/
}

#aboutUsDet{
	 text-align: left;
	 margin-left: 10px;
	 margin-right: 10px;
}

.aboutPara
{
	padding-bottom: 100px;
}
#division{
	background-color: #eae7dc;
	font-size: 28px;
	margin-top: 200px;
	background-size: cover;
	width: cover;
}

.emp{
	background-image: linear-gradient(rgba(233,128,116,0),rgba(233,128,116,1));
	margin-top: 79px;
	margin-right: 45px;
	margin-left: 45px;
	width: 275px;
	height: 375px;
	float: left;
}

.images
{
    margin-top: 10px;
	height: 270px;
	width: 170px;
}

.devName
{
	font-family: "Titillium Web", sans serif;
	padding-top: 10px;
	color: #E98074;

}

#AboutUsTitle{
	text-decoration:underline;
	font-family: "Titillium Web", sans serif;
}

.jobTitle
{
	font-family: "Titillium Web", sans serif;
	text-decoration:underline;


}

#devHead
{
	/*background-color: red;*/
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

#proj1style
{
	position:absolute;
	height: 110%;
	width: 100%;
	transform: rotate(81deg);
	left: -510px;
	top:145%;
	opacity: 0.8;
	z-index:-2;
}
